.wrapper  {
    background-color: deeppink;
    display: flex;
    justify-content: center;
    .main-content {
        width: 80%;
    }
}
//@media (max-width: 1248px) 100%
//@media (max-width: 1600px) 80%

//@media (max-width: 1248px) 100%
//@media (min-width: 1600px) 60%