.order {
    .btn-pay {
        width: 30%;
        button{
            width: 100%;
            background-color: #c87065;
            color: white;
            padding: 5px 20px;
            border:none;
            &:hover {
                background-color: #c8a165;
                box-shadow: 1px 25px 54px rgba(0,0,0,0.2);
            }
        }
    }
}