.cart-items {
    i {
        position: relative;

        .cart-items-count {
            font-size: 15px;
            position: absolute;
            top: 20px;
            left: 20px;
            border-radius: 50%;
            background-color: #e77733;
            color: white;
            line-height: 12px;
            padding: 10px;
        }
    }
}
