.cart {
    width: 100%;
    padding: 30px;
    background-color: white;
    .table-content {
        overflow-x: scroll;
        table {
            width: 100%;
            text-align: center;
            thead {
                background-color: #f6f6f6;
                color: #666;
                th {
                    text-transform: uppercase;
                    font-size: smaller;
                    padding: 10px;
                }
            }
        }
    }
}
