.body-content {
    width: 100%;
    background-color: white;
    .wrapper-dashboard {

        display: flex;
        justify-content: center;
        .trending-dashboard {
            width: 90%;
            .trending-row {
                width: 90%;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}
