
@import '../Shared.scss';

.info-group {
    font-size: smaller;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    a {
        color: black;
        i {
            font-size: 20px;
            padding: 10px;
            border-radius: 50%;
            &:hover {
                box-shadow: 10px 0px 40px -5px #E77733, inset 0px 0px 40px 0px white;
            }
        }
        &.active {
            i {
                @include inset-shadow-active;
            }
        }

    }
}
