.pro-tab {
    padding: 10px 30px;
    background-color: white;
    font-weight: 600;
    color: var(--main-info-font-color);
    text-align: center;
    margin-bottom: 5px;
    &.active {
        background-color: var(--cart-primary-header);
        color: white;
    }
    &:hover {
        background-color: var(--cart-primary-header);
        color: white;
        box-shadow: 1px 25px 54px rgba(0, 0, 0, 0.2);
    }
}
