.result-container {
    position: absolute;
    border: 1px solid #adadad;
    background-color: white;
    width: 470px;
    top: 50px;
    // opacity: 0;
    // visibility: hidden;
    z-index: 999;
}